*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
    background-color: #d7edd5;
    padding: 0 auto;
}

header {
    padding: 16px 120px;
    background-color: white;
}

nav {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:600;
    font-size:16px;
    /* padding: 0 auto; */
}

ul {
    width: 365px;
    height: 24px;
    display: flex;
    gap: 32px;
    /* padding: 20px; */
    /* border: 1px solid; */
    /* font-weight: 500; */
}

nav .nav-list {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.b1 {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    font-weight:600;
}
button {
    border: 0;
}

