*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
    background-color: #d7edd5;
    padding: 0 auto;
}

.common {
    width: 1600px;

}

header {
    padding: 16px 120px;
    background-color: white;
    /* opacity: .9; */
}

nav {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:600;
    font-size:16px;
    /* padding: 0 auto; */
}

ul {
    width: 365px;
    height: 24px;
    display: flex;
    gap: 32px;
    /* padding: 20px; */
    /* border: 1px solid; */
    /* font-weight: 500; */
}

nav .nav-list {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.b1 {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    font-weight:600;
}
button {
    border: 0;
}


.banner {
    border: 1px solid;
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    background-size: contain;
    /* opacity: .9; */
}

.hero-bg {
    width: 1600px;
    height: 674px;
}

.banner-box {
    width: 1360px;
    height: 379px;
    position: absolute;
    color: white;
    margin: 110px 120px 134px 120px;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.early-access {
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.circle1 {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #b0ccbb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle2 {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: #94bfa6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle3 {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #308a55;
}

.thinking-heading {
    width: 790px;
    height: 168px;

    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
}
.banner-box h2 span {
    color: #30B868;
}

.thinking-discussion {
    /* width: 770px;
    height: 60px; */
    font-style:regular;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    margin-top: 32px;
}
.thinking-discussion p {
    margin-bottom: 16px;

}

.thinking-button {
    width: 465px;
    height: 52px;
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.thinking-button .tb {
    color: #FFFFFF;
    font-weight: 500;
    padding: 12px 16px 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.thinking-button .start {
    width: 251px;
    background-color: #30B868;
}
.thinking-button .work {
    width: 198px;
    background-color:transparent;
    border: 1px solid white;
}

.work img {
    width: 25px;
    height: 25px;
}

/* Note */

.tablet {
    background-color: rgba(255, 255, 255, 1);;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.note .title {
    margin: 0px 120px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.title h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
    padding-top: 50px;
}
.title p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#627382;
    padding-top:16px;
}

.note-tab {
    display: flex;
    width: 1360px;
    justify-content:space-around;
    gap: 24px;
    /* border: 1px solid; */
}

.nbox {
    width: 322px;
    height: 300px;
    padding: 24px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.nbox .icon {
    background-color: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nbox h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 16px;
}
.nbox p {
    font-size: 15.5px;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
    color: #627382;
}


/* Brain Structure */

.brain {
    background: rgba(255, 255, 255, 1);
    width: 1600px;
    padding: 120px;
}

.brain-structure {
    width: 1360px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.brain-structure p {
    font-weight: 600;
}

.solution .the-solution {
    color: #30B868;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.solution h2 {
    font-size: 48px;
    font-weight: 700px;
    text-transform: capitalize;
    color: #001931;
}

.solution .discription {
    color: #627382;
    font-weight: 400;
    padding: 16px 0 40px 0;
}


.knowledge {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

